.trivia-background { 
  background-color: #036b52;
}

.btn-primary {
background-color: #036b52 !important;
color: #fff;
border-color:  #036b52 !important;
}

.btn-start {
  color: #fff !important;
  background-color: #44c18c !important;
  border-color:  #44c18c !important;
  }

.dropdown-toggle {
  background-color: #44c18c !important;
  border-color:  #44c18c !important;
}

.trivia-navbar {
  border-bottom: 7px solid #2fc18c;
  background-color: #036b52;
  width: 100% !important;
  z-index: 999;
  padding-right: 0 !important;
  padding: 10px 90px 10px 94px;
}

.feedback-page{
  background-color: #fff;
}

.ranking-page {
  background-color: #fff!important;
}

.test {
  margin-left: 100px !important;
  margin-right: 150px !important;

}

body {
  background-color: #fff!important;
  }

a {
  color: #036b52 !important;
}
